<div class="add-team">
    <div *ngIf="showMsg" class="message" [ngStyle]="{'background-color': msgColor}">
        <span>{{msg}}</span>
        <button (click)="closeMessage()">x</button>
    </div>
    <div class="team_form">
        <h1>Create New Team</h1>
        <div class="input-field">
            <label id="fix-mrg" for="team_name">Team name*:</label>
            <input #team_name type="text" name="team_name" id="team_name">
        </div>
        <div class="input-field">
            <label for="team_shortcut">Team shortcut*:</label>
            <input #team_shortcut type="text" name="team_shortcut" id="team_shortcut">
        </div>
        <div class="input-field" id="align_input">
            <label for="team_logo">Logo:</label>
            <input #team_logo type="file" name="file" id="team_logo" class="inputfile" accept="image/*">
            <label for="team_logo">Browse</label>
        </div>
        <div class="add-button">
            <button (click)="addTeam(team_name.value, team_shortcut.value ,team_logo.files)">Add team</button>
        </div>
    </div>
</div>