<div id="wrapper">
    <div *ngIf="showMsg" class="message" [ngStyle]="{'background-color': msgColor}">
        <span>{{msg}}</span>
        <button (click)="closeMessage()">x</button>
    </div>
    <div class="topbar-switch">
            <button
            *ngIf="getCurrData !== null"
            (click)="selectedListing='mytournament'">
            My tournaments</button> 

            <button 
            (click)="selectedListing='tournament'">
            Tournaments</button>  
            <button 
            (click)="selectedListing='team'">
            Teams</button>  
            <button 
            (click)="selectedListing='user'">
            Users</button>
    </div>
    <div *ngIf="selectedListing === 'tournament'">
        <app-tournament-listing></app-tournament-listing>
    </div>
    <div *ngIf="selectedListing === 'team'">
        <app-team-listing></app-team-listing>
    </div>
    <div *ngIf="selectedListing === 'user'">
        <app-user-listing></app-user-listing>
    </div>
    <div *ngIf="getCurrData !== null && selectedListing === 'mytournament'">
        <app-tournament-listing [creatorID]='getCurrData.id'></app-tournament-listing>
    </div>
    <div *ngIf="getCurrData === null && selectedListing === 'mytournament'">
        <app-tournament-listing></app-tournament-listing>
    </div>
</div>