<div>
    <div *ngIf="showMsg" class="message" [ngStyle]="{'background-color': msgColor}">
        <span>{{msg}}</span>
        <button (click)="closeMessage()">x</button>
    </div>
    <div class="topbar-switch">
        <button 
            (click)="selectedListing='match'"
            [ngStyle]="{'background-color':selectedListing === 'match' ? selColor : defColor }">
            Matches</button>  
        <button 
            (click)="selectedListing='team'"
            [ngStyle]="{'background-color':selectedListing === 'team' ? selColor : defColor }">
            Teams</button>  
        <button 
            (click)="selectedListing='user'"
            [ngStyle]="{'background-color':selectedListing === 'user' ? selColor : defColor }">
            Users</button>  
    </div>
    <div *ngIf="selectedListing === 'match'">
        <app-match-listing></app-match-listing>
    </div>
    <div *ngIf="selectedListing === 'team'">
        <app-team-listing></app-team-listing>
    </div>
    <div *ngIf="selectedListing === 'user'">
        <app-user-listing></app-user-listing>
    </div>
</div>