<div *ngIf="tournament !== null" >
    <div *ngIf="showMsg" class="message" [ngStyle]="{'background-color': msgColor}">
        <span>{{msg}}</span>
        <button (click)="closeMessage()">x</button>
    </div>
    <div class="show_tourney_info">
        <h1>Show tournament information</h1>
        <div class="boxes">
            <div class="left_box">
                <div>
                    <div class="info">
                        <p>Name:</p>
                        <p>{{tournament.name}}</p>
                    </div>
                    <div class="info">
                        <p>Sponsors:</p>
                        <p>{{tournament.sponsors}}</p>
                    </div>
                    <div id="indent">
                        <div *ngIf="getCurrReferee() !== null">
                            <p>Current referee:</p>
                            <div id="referees">
                                <p>{{getCurrReferee().name}}</p>
                                <button (click)="showUser(getCurrReferee().id)">Show user</button>
                                <button *ngIf="getLoggedUser() !== null && tournament.created === null && tournament.creator_id === getLoggedUser().id" (click)="clearReferee()">Clear referee</button>
                            </div>
                        </div>
                        <div class="info" *ngIf="tournament.referee_id === null">
                            <p>No referee added.</p>
                        </div>
                    </div>
                    <div class="info">
                        <p>Team type:</p>
                        <p>{{getTeamType(tournament.team_type)}}</p>
                    </div>
                    <div class="info" id="position_btn" *ngIf="getLoggedUser() !== null && getLoggedUser().id !== tournament.creator_id">
                        <button *ngIf="canJoinAsReferee(getLoggedUser().id)" (click)="joinAsReferee(getLoggedUser().id)">Register as referee</button>
                        <button *ngIf="canJoinAsTeam(getLoggedUser().team)" (click)="joinAsTeam(getLoggedUser().team)">Register as team</button>
                        <button *ngIf="canJoinAsUser(getLoggedUser().id)" (click)="joinAsUser(getLoggedUser().id)">Register as user</button>
                    </div>
                    <div class="info">
                        <p>Description:</p>
                        <p id="description_edit" >{{tournament.description}}</p>
                    </div>
                </div>
            </div>
            <div class="right_box">
                <div *ngIf="getLoggedUser() !== null && tournament.creator_id === getLoggedUser().id && tournament.created === null">
                    <div *ngIf="tournament.team_type === 0">
                        <div class="info">
                            <p>Accepted users (</p>
                            <p>{{getRegUsers}}/{{tournament.number_of_players}}) :</p>
                            <div *ngFor="let t_user of getAcceptedUsers">
                                <p>{{t_user.name}}</p>
                                <button (click)="showUser(t_user.user_id)">Show user</button>
                                <button *ngIf="tournament.created === null" (click)="denyUser(t_user.user_id)">Deny</button>
                            </div>
                        </div>
                        <div class="info">
                            <p>Avalaible users:</p>
                        </div>
                        <div class="info" *ngFor="let t_user of getAvalaibleUsers">
                            <p>{{t_user.name}}</p>
                            <div *ngIf="t_user.allowed === null && tournament.number_of_players > getRegUsers">
                                <button *ngIf="tournament.created === null" (click)="denyUser(t_user.user_id)">Deny</button>
                                <button *ngIf="tournament.created === null" (click)="acceptUser(t_user.user_id)">Accept</button>
                            </div>
                        </div>
                        <div class="info">
                            <p>Denied users:</p>
                        </div>
                        <div class="info" *ngFor="let t_user of getDeniedUsers">
                            <p>{{t_user.name}}</p>
                            <button (click)="showUser(t_user.user_id)">Show user</button>
                            <button *ngIf="tournament.created === null && tournament.number_of_players > getRegUsers" (click)="acceptUser(t_user.user_id)">Accept</button>
                        </div>
                    </div>

                    <div *ngIf="tournament.team_type !== 0">
                        <div class="info">
                            <p>Accepted team (</p>
                            <p>{{getRegTeams}}/{{tournament.number_of_players}}) :</p>
                            <div *ngFor="let t_team of getAcceptedTeams">
                                <img src="{{getTeamLogo(t_team.file_name)}}" width="50" height="50">
                                <p>{{t_team.name}}</p>
                                <button [routerLink]="['/show-team', t_team.team_id]" routerLinkActive="active">Show team</button>
                                <button *ngIf="tournament.created === null"  (click)="denyTeam(t_team.team_id)">Deny</button>
                            </div>
                        </div>
                        <div class="info">
                            <p>Available teams:</p>
                        </div>
                        <div class="info" *ngFor="let t_team of getAvalaibleTeams">
                            <img src="{{getTeamLogo(t_team.file_name)}}" width="50" height="50">
                            <p>{{t_team.name}}</p>
                            <div *ngIf="t_team.allowed === null && tournament.number_of_players > getRegTeams">
                                <button [routerLink]="['/show-team', t_team.team_id]" routerLinkActive="active">Show team</button>
                                <button *ngIf="tournament.created === null" (click)="acceptTeam(t_team.team_id)">Accept</button>
                                <button *ngIf="tournament.created === null" (click)="denyTeam(t_team.team_id)">Deny</button>
                            </div>
                        </div>
                        <div class="info">
                            <p>Denied teams:</p>
                        </div>
                        <div class="info" *ngFor="let t_team of getDeniedTeams">
                            <img src="{{getTeamLogo(t_team.file_name)}}" width="50" height="50">
                            <p>{{t_team.name}}</p>
                            <button [routerLink]="['/show-team', t_team.team_id]" routerLinkActive="active">Show team</button>
                            <button *ngIf="tournament.created === null && tournament.number_of_players > getRegTeams" (click)="acceptTeam(t_team.team_id)">Accept</button>
                        </div>
                    </div>

                    <div class="info">
                        <p>Avalaible referees:</p>
                    </div>
                    <div class="info" *ngFor="let referee of getAvalaibleReferees">
                        <p>{{referee.name}}</p>
                        <div *ngIf="tournament.referee_id === null">
                            <button *ngIf="tournament.created === null" (click)="denyReferee(referee.user_id)">Deny</button>                            
                            <button *ngIf="tournament.created === null" (click)="acceptReferee(referee.user_id)">Accept</button>
                        </div>
                    </div>

                    <div class="info">
                        <p>Denied referees:</p>
                    </div>
                    <div class="info" *ngFor="let t_referee of getDeniedReferees">
                        <p>{{t_referee.name}}</p>
                        <button (click)="showUser(t_referee.user_id)">Show user</button>
                        <button *ngIf="tournament.created === null && tournament.referee_id === null" (click)="acceptReferee(t_referee.user_id)">Accept</button>
                    </div>
                </div>
                <div *ngIf="tournament.created !== null">
                    <div *ngIf="tournament.team_type !== 0">
                        <p>Teams: </p>
                        <div *ngFor="let t_team of getAcceptedTeams">
                            <img src="{{getTeamLogo(t_team.file_name)}}" width="50" height="50">
                            <p>{{t_team.name}}</p>
                            <button [routerLink]="['/show-team', t_team.team_id]" routerLinkActive="active">Show team</button>
                        </div>
                    </div>
                    <div *ngIf="tournament.team_type === 0">
                        <p>Users: </p>
                        <div *ngFor="let t_user of getAcceptedUsers">
                            <p>{{t_user.name}}</p>
                            <button (click)="showUser(t_user.user_id)">Show user</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div>
                <button  id="delete_tourney" *ngIf="getLoggedUser() !== null && tournament.creator_id === getLoggedUser().id" (click)="deleteTournament()">Delete tournament</button>
            </div>
            <div *ngIf="getLoggedUser() !== null && tournament.creator_id === getLoggedUser().id">
                <button id="finalize_tourney" *ngIf="tournament.created === null" [disabled]="canFinalize === false" (click)="finalizeTournament()">Finalize tournament</button>
            </div>
        </div>
        <div *ngIf="tournament !== null && tournament.created !== null">
            <app-spider [tournament]="tournament"></app-spider>
        </div>
    </div>
</div>