<div class="wrapper">
  <h1>Registered Users</h1>
  <div class="users-listing">
      <div *ngFor="let user of listUsers" class="user">
        <p>{{user.name}}</p>
        <button (click)="showUser(user.id)">Show</button>
        <div *ngIf="getCurrUser !== null && getCurrUser.admin === true && getCurrUser.id !== user.id">
          <button *ngIf="user.banned === false" (click)="banUser(user.id)">Ban user</button>
          <button *ngIf="user.banned === true" (click)="unBanUser(user.id)">Unban user</button>
        </div>
      </div>
  </div>
</div>