<div class="wrapper">
    <h1>User Information</h1>
    <div class="user_info">
        <div *ngIf="user !== null" class="user-data">
            <div class="positioner">
                <p>User name:</p>
                <p>{{user.name}}</p>
            </div>
            <div class="positioner">
                <p>About user:</p>
                <p>{{user.description}}</p>
            </div>
        </div>
        <div class="team">
            <div *ngIf="team !== null">
                <div class="positioner">
                    <p>Team name: </p>
                    <p>{{team.name}}</p>
                </div>
            </div>
            <div *ngIf="team === null">
                <p id="special">User is in no team.</p>
            </div>
        </div>

        <div>
            <p>Statistics: </p> 
            <div *ngIf="userStat === null">
                <p>No statistics</p>
            </div>
            <div *ngIf="userStat !== null">
                <p>Matches played: {{userStat.matchesPlayed}}</p>
                <p>Matches wins: {{userStat.matchesWin}}</p>
                <p>Matches lost: {{userStat.matchesLost}}</p>
                <p>Scores: {{userStat.scores}}</p>
                <p>Assistances: {{userStat.assistances}}</p>
            </div>
        </div>
    </div>
</div>