.wrapper {
    margin: 0px auto 0px auto;
    max-width: 900px;
    font-size: 18px;
}

h1 {
    text-align: left;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 2px;
    border-bottom-style: solid;
}

.team-listing {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 20px;
    display: block;
}

.team-listing button {
    border-radius: 3px;
    border-width: 2px 2px 2px 2px;
    padding: 2px 10px 2px 10px;
    border-color: black;
    margin-right: 15px;
    margin-top: 12px;
}

.team-listing button:hover {
    background-color: #65656540;
}

.team {
    margin-bottom: 20px;
    background-color: #6565651c;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.team p {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 10px;
    word-wrap: anywhere;
}

.team button {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 185px;
}